*,*,::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo-card: white;
    --cor-de-fundo: #f0f4f8;
    --cor-de-texto: rgb(2, 2, 46);
    --cor-primaria: blue;
    --cor-secundaria: rgb(55, 55, 240);
    --fonte: 'Inter', 'arial';
    --transicao: all 0.3s ease;
}

body{
    font-family: var(--fonte);
}
.contenda {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 2rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--cor-secundaria);
}
header{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-primaria)
}

.nav-link{
    display: flex;
    list-style: none;
}

.nav-link li{
    margin-left: 2rem;
}

.nav-link a {
    color: var(--cor-de-texto);
    text-decoration: none;
    transition: var(--transicao);
}

.nav-link a:hover{
    color: var(--cor-primaria);
}

main{
    margin-top: 5rem;
}

section{
    padding: 6rem 0;
    margin-left: 3rem;
}

.dev{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.foto{
    width: 450px;
    height: auto;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20%;
    object-fit: cover;
}


.texto h1{
font-size: 3.5rem;
margin-bottom: 1rem;
color: var(--cor-primaria);
}

.texto p{
    font-size: 1.23rem;
    margin-bottom: 2rem;
}

.botao{
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: antiquewhite;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: var(--transicao);
}

.botao:hover{
    background-color: var(--cor-secundaria);
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.skills-item{
    background-color: var(--cor-de-fundo-card);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    transition: var(--transicao);
}

.skills-item:hover{
    transform: translateY(-5px)
}

.skills-icon{
   font-size: 2.5rem;
   margin-bottom: 1rem;
}
#particles-js{
    background-color: #092428;
}

.particles-js{
    size: 100%;
}

